<div class="modal fade" id="editContent" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="filer">Edit Joke</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div dl-form="addCategory" form-model="vm.updateCategoryModel"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.update()" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewContent" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <b>{{vm.viewData.name}}</b>
                        <br>
                        <em>http://www.thejokehub.com/category/{{vm.viewData.alias}}</em>
                    </div>
                    <div>
                        <button ng-if="vm.viewData.isActive == 0" type="button" ng-click="vm.changeStatus(vm.viewData.nid, true)"
                            class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Publish
                        </button>
                        <button ng-if="vm.viewData.isActive == 1" type="button" ng-click="vm.changeStatus(vm.viewData.nid, false)"
                            class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i> Unpublish
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <span class="badge badge-secondary">
                        Total
                        <span class="badge badge-light">{{vm.viewData.totalJokes}}</span>
                    </span>
                    <span class="badge badge-success">
                        Approved
                        <span class="badge badge-light">{{vm.viewData.approved}}</span>
                    </span>
                    <span class="badge badge-primary">
                        Pending
                        <span class="badge badge-light">{{vm.viewData.pending}}</span>
                    </span>
                    <span class="badge badge-warning">
                        Reject
                        <span class="badge badge-light">{{vm.viewData.reject}}</span>
                    </span>
                </div>
                <div class="form-group mt-3">
                    <em>
                        <b>Description</b>
                    </em>
                    <br />
                    <span ng-bind-html="vm.displayDescription(vm.viewData.description)"></span>
                </div>
                <div class="form-group mt-3">
                    <em>
                        <b>Meta Title</b>
                    </em>
                    <br /> {{vm.viewData.metaTitle}}
                </div>
                <div class="form-group mt-3">
                    <em>
                        <b>Meta Description</b>
                    </em>
                    <br /> {{vm.viewData.metaDescription}}
                </div>
                <div class="form-group mt-3">
                    <em>
                        <b>Meta keywords</b>
                    </em>
                    <br /> {{vm.viewData.metaKeywords}}
                </div>
                <div class="form-group mt-3">
                    <em>
                        <b>OG:Title</b>
                    </em>
                    <br /> {{vm.viewData.ogTitle}}
                </div>
                <div class="form-group mt-3">
                    <em>
                        <b>OG:Description</b>
                    </em>
                    <br /> {{vm.viewData.ogDescription}}
                </div>
            </div>
            <div class="modal-footer">
                <em>
                    {{vm.viewData.publishOn}}
                </em>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<h3 class="pageTitle">
    <span class="fontWght400">Manage</span>
    <strong>Category</strong>
</h3>
<section class="mainContentWrapper">
    <div class="card-columns">
        <div class="card" ng-repeat="category in vm.categoreis">
            <img class="card-img-top" src="http://www.thejokehub.com/images/{{category.categoryImage}}" alt="{{category.name}}">
            <div class="card-img-overlay">
                <span class="badge badge-pill badge-{{category.isActive === '1' ? 'success' : 'warning' }}">
                    {{category.isActive === '1' ? 'Publish' : 'Unpublish' }}
                </span>
                <h5 class="card-title">{{category.name}}</h5>
                <div>
                    <span class="badge badge-secondary">
                        Total
                        <span class="badge badge-light">{{category.totalJokes}}</span>
                    </span>
                    <span class="badge badge-success">
                        Approved
                        <span class="badge badge-light">{{category.approved}}</span>
                    </span>
                    <span class="badge badge-primary">
                        Pending
                        <span class="badge badge-light">{{category.pending}}</span>
                    </span>
                    <span class="badge badge-warning">
                        Reject
                        <span class="badge badge-light">{{category.reject}}</span>
                    </span>
                </div>
                <div>
                    <i ng-click="vm.modifyStatus(category)" class="fa fa-cloud-upload cursor"></i>
                    <i ng-click="vm.view(category)" title="View" data-toggle="modal" data-target="#viewContent" class="fa fa-eye cursor"></i>
                    <i ng-click="vm.edit(category)" title="Edit" data-toggle="modal" data-target="#editContent" class="fa fa-pencil-square cursor"></i>
                    <i class="fa fa-trash-o cursor"></i>
                </div>
            </div>
        </div>
    </div>
</section>