<div ng-if="!data.isUpdateImage">
    <button style="padding:2px 3px" ng-click="changeImageInit()" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#imageUpload">
        {{data.label}}
    </button>
    <button style="padding:2px 3px" ng-click="data.removeImage()" class="btn btn-danger btn-sm">Remove</button>
</div>
<div ng-if="isPopupShow" class="modal fade bd-example-modal-lg" id="imageUpload" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">
            <div class="d-flex justify-content-between pb-2">
                <div class="text-left">
                    <input type="file" id="{{data.name}}"/>
                </div>
                <div class="text-right">
                    <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>
                <div class="col-sm-4">
                    <label>Your Selection</label>
                    <br/>
                    <img ng-src="{{myCroppedImage}}"/>
                </div>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-secondary" ng-click="data.cancel()" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" ng-click="add()" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>