<h3 class="pageTitle">
    <span class="fontWght400">Manage</span>
    <strong>Jokes</strong>
</h3>
<section class="mainContentWrapper">
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: block">
        <li class="nav-item cursor">
            <a ui-sref="jokehub.manageJoke.approved" class="nav-link text-success">Approved</a>
        </li>
        <li class="nav-item cursor">
            <a ui-sref="jokehub.manageJoke.pending" class="nav-link text-primary">Pending</a>
        </li>
        <li class="nav-item cursor">
            <a ui-sref="jokehub.manageJoke.rejected" class="nav-link text-danger">Rejected</a>
        </li>
        <li jh-privilege="ADMIN" style="float: right">
            <button type="button" ng-click="vm.approveAll()" ng-disabled="vm.isAllContentEnabled()" class="btn btn-success btn-sm">Approve
                All
            </button>
            <button type="button" ng-click="vm.rejectAll()" ng-disabled="vm.isAllContentEnabled()" class="btn btn-danger btn-sm">Reject
                All
            </button>
        </li>
    </ul>
    <div ui-view="managejoke" id="managejoke"></div>
</section>