<div class="modal fade" id="viewContent" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <a ui-sref="jokehub.userDetail({userId:vm.viewData.userId})">{{vm.viewData.user}}</a>
                    </div>
                    <div>
                        <b>{{vm.viewData.category}}</b>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div ng-if="vm.viewData.reason" class="alert alert-warning" role="alert">
                    <strong>Reject Reason - </strong>{{vm.viewData.reason}}
                </div>
                <span ng-bind-html="vm.displayDescription(vm.viewData.description)"></span>
            </div>
            <div class="modal-footer">
                <em class="float-left">
                    {{vm.viewData.publishOn}}
                </em>
                <!-- <button type="button" class="btn btn-secondary btn-sm">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm">
                        <i class="fa fa-chevron-right"></i>
                    </button> -->
                <button jh-privilege="ADMIN" ng-if="vm.selectedTab == 3 || vm.selectedTab == 2" type="button" ng-click="vm.changeStatus(vm.viewData.nid, true)"
                    class="btn btn-success btn-sm">
                    <i class="fa fa-check"></i> Approve
                </button>
                <button jh-privilege="ADMIN" ng-if="vm.selectedTab == 1 || vm.selectedTab == 2" type="button"
                    data-dismiss="modal" ng-click="vm.changeStatus(vm.viewData.nid, false)" class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i> Reject
                </button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane">
    <table st-table="vm.jokes" class="table table-striped jokehub-action-menu">
        <thead>
            <tr>
                <th jh-privilege="ADMIN" style="border: 0px;">
                    <input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.isAllSelected" aria-label="Checkbox for following text input">
                </th>
                <th style="border: 0px;">Joke</th>
                <th style="border: 0px; width: 150px;">Category</th>
                <th style="border: 0px; width: 140px;">Posted on</th>
                <th style="border: 0px; width: 100px;" jh-privilege="ADMIN">User</th>
                <th style="width: 150px; border: 0px;" class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.pendingContent">
                <td jh-privilege="ADMIN">
                    <input type="checkbox" ng-model="row.selected" aria-label="Checkbox for following text input">
                </td>
                <td>
                    <div>{{vm.stripHtml(row.description)}}</div>
                </td>
                <td>{{row.category}}</td>
                <td>{{row.postedOn}}</td>
                <td jh-privilege="ADMIN">
                    <a ui-sref="jokehub.userDetail({userId:row.userId})">{{row.user}}</a>
                </td>
                <td style="position: relative;">
                    <div class="action-menu">
                        <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, true)" title="Approve" class="fa fa-check cursor"></i>
                        <i ng-click="vm.edit(row)" title="Edit" data-toggle="modal" data-target="#editContent" class="fa fa-pencil-square cursor"></i>
                        <i jh-privilege="ADMIN" ng-click="vm.view(row)" title="View" data-toggle="modal" data-target="#viewContent"
                            class="fa fa-eye cursor"></i>
                        <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, false)" title="Reject" class="fa fa-ban cursor"></i>
                        <i title="Delete" class="fa fa-trash-o cursor"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>