#Options +FollowSymLinks

#RewriteRule ^category/([0-9]+) category.php?id=$1
#RewriteRule ^user/([0-9]+) user.php?id=$1

RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^jokehub.in [NC]
RewriteRule ^(.*)$ http://www.jokehub.in/$1 [L,R=301,NC]

RewriteCond $1 ^category
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ urls/url-main-category.php?q=$1 [L,QSA]
#RewriteRule ^category/([0-9a-zA-Z-]+).html$ urls/url-main-category.php?q=$1 [L,QSA]

