<div class="liquidHgt loginBG">
  <form class="form-signin">
    <fieldset ng-disabled="vm.isLoading" ng-if="!vm.showSuccessMsg && !vm.showErrorMsg">
      <div class="text-center">
        <img src="app/images/logo.png" />
      </div>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" ng-model="forgotPassword.email" class="form-control loginInput" placeholder="Email address"
        required autofocus>
      <button class="btn btn-lg btn-primary btn-block loginButton mt-4" ng-click="vm.submit(forgotPassword)" type="submit">
        <i ng-show="vm.isLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Submit</button>
      <div class="mt-4 text-center">
        <a ui-sref="jokehub.login">Login</a>
      </div>
    </fieldset>
    <div class="alert alert-success" role="alert" ng-if="vm.showSuccessMsg">
      Hi there,
      <br />
      <br /> We are sorry you are having trouble with your password. Do not worry, click on the link to reset your password,
      <br /> which we have just sent you into an email at
      <b>
        <em>'{{vm.email}}'.</em>
      </b>
      <br /><br /><em> If you do not find our email in your Inbox then please check your Spam Folder.</em>
      <br />
      <br/>Thanks,
      <br />TheJokeHub Team
    </div>
    <div class="alert alert-warning" role="alert" ng-if="vm.showErrorMsg">
      {{vm.errorMsg}}
      <br />
      <br/>Thanks,
      <br />TheJokeHub Team
    </div>
  </form>
</div>