<form name="_changePassword">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" autocomplete="off" name="oldPassword" class="form-control" id="oldPassword" required ng-model="pass.oldpassword"
        />
        <div ng-show="_changePassword.oldPassword.$error.required && _changePassword.oldPassword.$dirty" class="alert alert-danger"
            role="alert">
            Required!
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" autocomplete="off" class="form-control" name="newPassword" id="newPassword" ng-model="pass.newpassword"
        />
        <div class="alert alert-danger" role="alert" ng-show="_changePassword.newPassword.$error.required && _changePassword.newPassword.$dirty">
            Required
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" autocomplete="off" class="form-control" name="confirmPassword" id="confirmPassword" required ng-model="pass.confirmpassword"
        />
        <div class="alert alert-danger" role="alert" ng-show="passwordNotMatch">
            Passwords do not match.
        </div>
        <div class="alert alert-danger" role="alert" ng-show="!passwordNotMatch && old_new">
            New password not be same as old.
        </div>
    </div>
</form>
<button type="button" class="btn btn-primary btn-sm" ng-disabled="passwordValidate(pass)" ng-click="changePassword(pass)"
    data-dismiss="modal">Change Password</button>
<button type="button" ng-click="cancel()" class="btn btn-secondary btn-sm">Cancel</button>