<div class="modal fade" id="viewUser" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col-sm-4">
                        <i class="fa fa-user" aria-hidden="true"></i> {{vm.viewData.userName}}
                        <small>
                            <a target="_blank" href="http://www.thejokehub.com/user/{{vm.viewData.profileUrl}}">http://www.thejokehub.com/user/{{vm.viewData.profileUrl}}</a>
                        </small>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> {{vm.viewData.email}}</div>
                    <div class="col-sm-4 text-right">
                        <button ng-if="vm.selectedTab != 1" type="button" ng-click="vm.changeStatus(vm.viewData.nid, true)" class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Activate
                        </button>
                        <button ng-if="vm.selectedTab != 2" type="button" ng-click="vm.changeStatus(vm.viewData.nid, false)" class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i> De-Activate
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body row">
                <div class="col-sm-9">
                    <div>
                        <span class="badge badge-secondary">
                            Total
                            <span class="badge badge-light">{{vm.totalContent(vm.viewData.contentStatus)}}</span>
                        </span>
                        <span class="badge badge-success">
                            Approved
                            <span class="badge badge-light">{{vm.viewData.contentStatus.approve}}</span>
                        </span>
                        <span class="badge badge-primary">
                            Pending
                            <span class="badge badge-light">{{vm.viewData.contentStatus.pending}}</span>
                        </span>
                        <span class="badge badge-warning">
                            Reject
                            <span class="badge badge-light">{{vm.viewData.contentStatus.reject}}</span>
                        </span>
                    </div>
                    <h4>{{vm.viewData.title}}</h4>
                    <i class="fa fa-inr" aria-hidden="true"></i> {{vm.viewData.payment}}
                    <br>
                    <i class="fa fa-quote-left" aria-hidden="true"></i> {{vm.viewData.about}}
                    <br />
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{vm.viewData.address}}
                    <br />
                    <i class="fa fa-birthday-cake" aria-hidden="true"></i> {{vm.viewData.dob | date : "dd MMM, y"}}
                    <br />
                    <i class="fa fa-calendar" aria-hidden="true"></i> {{vm.viewData.created}}
                    <br>
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <span>*************</span>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <div class="col-sm-3">
                    <img src="http://thejokehub.com/profile_img/{{vm.viewData.userImage}}" alt="{{vm.viewData.userName}}" class="img-thumbnail">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<h3 class="pageTitle">
    <span class="fontWght400">Manage</span>
    <strong>User</strong>
</h3>
<section class="mainContentWrapper">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item cursor" ng-click="vm.selectedTab = 1">
            <a class="nav-link active text-success font-weight-bold" data-toggle="tab" role="tab">Active Users ({{vm.activeUsersCount}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 2">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" role="tab">Inactive Users ({{vm.inActiveUsersCount}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 3">
            <a class="nav-link text-secondary font-weight-bold" data-toggle="tab" role="tab">Register Pending Users ({{vm.registerPendingUsersCount}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 4">
            <a class="nav-link text-danger font-weight-bold" data-toggle="tab" role="tab">Deleted Users ({{vm.deletedUsersCount}})</a>
        </li>
    </ul>
    <div ng-init="vm.selectedTab = 1" class="tab-content" id="myTabContent">
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 1}" ng-show="vm.selectedTab === 1" role="tabpanel">
            <table class="table table-striped jokehub-action-menu">
                <thead>
                    <tr style="font-size: 13px;">
                        <th style="border: 0px;">Name</th>
                        <th style="border: 0px;">Registration Date</th>
                        <th style="border: 0px;">Pending Status</th>
                        <th style="border: 0px;">Approved Status</th>
                        <th style="border: 0px;">Rejected Status</th>
                        <th style="border: 0px;">Pending Payments</th>
                        <th style="border: 0px;">Payments</th>
                        <th class="text-right" style="border: 0px; width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.activeUsers">
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:user.id})">{{user.userName}} ({{user.dob | ageFilter}})</a>
                            <br/>
                            <small>{{user.sex | ageSex}}</small>
                        </td>
                        <td>{{user.created}}</td>
                        <td>{{user.contentStatus.pending}}</td>
                        <td>{{user.contentStatus.approve}}</td>
                        <td>{{user.contentStatus.reject}}</td>
                        <td>{{(user.contentStatus.approve * 2) - user.payment}}</td>
                        <td>{{user.payment}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i title="View" ng-click="vm.viewUser(user)" data-toggle="modal" data-target="#viewUser" class="fa fa-info-circle cursor"></i>
                                <i title="Details" class="fa fa-folder-open cursor"></i>
                                <i title="In Active" class="fa fa-ban cursor"></i>
                                <i title="Delete" ng-click="vm.deleteUser(user)" class="fa fa-trash-o cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 2}" ng-show="vm.selectedTab === 2" role="tabpanel">
            <table class="table table-striped jokehub-action-menu">
                <thead>
                    <tr style="font-size: 13px;">
                        <th style="border: 0px;">Name</th>
                        <th style="border: 0px;">Registration Date</th>
                        <th style="border: 0px;">Pending Status</th>
                        <th style="border: 0px;">Approved Status</th>
                        <th style="border: 0px;">Rejected Status</th>
                        <th style="border: 0px;">Pending Payments</th>
                        <th style="border: 0px;">Payments</th>
                        <th class="text-right" style="border: 0px; width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.inActiveUsers">
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:user.id})">{{user.userName}}</a>
                        </td>
                        <td>{{user.created}}</td>
                        <td>{{user.contentStatus.pending}}</td>
                        <td>{{user.contentStatus.approve}}</td>
                        <td>{{user.contentStatus.reject}}</td>
                        <td>{{(user.contentStatus.approve * 2) - user.payment}}</td>
                        <td>{{user.payment}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i title="View" ng-click="vm.viewUser(user)" data-toggle="modal" data-target="#viewUser" class="fa fa-info-circle cursor"></i>
                                <i title="Details" class="fa fa-folder-open cursor"></i>
                                <i title="Active" class="fa fa-check cursor"></i>
                                <i title="Delete" class="fa fa-trash-o cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 3}" ng-show="vm.selectedTab === 3" role="tabpanel">
            <table class="table table-striped jokehub-action-menu">
                <thead>
                    <tr style="font-size: 13px;">
                        <th style="border: 0px;">Name</th>
                        <th style="border: 0px;">Registration Date</th>
                        <th style="border: 0px;">Pending Status</th>
                        <th style="border: 0px;">Approved Status</th>
                        <th style="border: 0px;">Rejected Status</th>
                        <th style="border: 0px;">Pending Payments</th>
                        <th style="border: 0px;">Payments</th>
                        <th class="text-right" style="border: 0px; width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.registerPendingUsers">
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:user.id})">{{user.userName}}</a>
                        </td>
                        <td>{{user.created}}</td>
                        <td>{{user.contentStatus.pending}}</td>
                        <td>{{user.contentStatus.approve}}</td>
                        <td>{{user.contentStatus.reject}}</td>
                        <td>{{(user.contentStatus.approve * 2) - user.payment}}</td>
                        <td>{{user.payment}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i title="View" ng-click="vm.viewUser(user)" data-toggle="modal" data-target="#viewUser" class="fa fa-info-circle cursor"></i>
                                <i title="Details" class="fa fa-folder-open cursor"></i>
                                <i title="Active" class="fa fa-check cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 4}" ng-show="vm.selectedTab === 4" role="tabpanel">
            <table class="table table-striped jokehub-action-menu">
                <thead>
                    <tr style="font-size: 13px;">
                        <th style="border: 0px;">Name</th>
                        <th style="border: 0px;">Registration Date</th>
                        <th style="border: 0px;">Pending Status</th>
                        <th style="border: 0px;">Approved Status</th>
                        <th style="border: 0px;">Rejected Status</th>
                        <th style="border: 0px;">Pending Payments</th>
                        <th style="border: 0px;">Payments</th>
                        <th class="text-right" style="border: 0px; width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.deletedUsers">
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:user.id})">{{user.userName}}</a>
                        </td>
                        <td>{{user.created}}</td>
                        <td>{{user.contentStatus.pending}}</td>
                        <td>{{user.contentStatus.approve}}</td>
                        <td>{{user.contentStatus.reject}}</td>
                        <td>{{(user.contentStatus.approve * 2) - user.payment}}</td>
                        <td>{{user.payment}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i title="View" ng-click="vm.viewUser(user)" data-toggle="modal" data-target="#viewUser" class="fa fa-info-circle cursor"></i>
                                <i title="Active" class="fa fa-check cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>