<div class="modal fade" id="viewUser" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-between w-100">
                    <div>{{vm.viewData.userName}}</div>
                    <div>{{vm.viewData.email}}</div>
                    <div>
                        <button type="button" ng-click="vm.changeStatus(vm.viewData.nid, true)" class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Activate
                        </button>
                        <button type="button" ng-click="vm.changeStatus(vm.viewData.nid, false)" class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i> De-Activate
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h4>{{vm.viewData.title}}</h4>
                {{vm.viewData.about}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<h3 class="pageTitle">
    <span class="fontWght400">Manage</span>
    <strong>User</strong>
</h3>
<section class="mainContentWrapper">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item cursor" ng-click="vm.selectedTab = 1">
            <a class="nav-link active text-success font-weight-bold" data-toggle="tab" role="tab">Active Users ({{vm.activeUsersCount}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 2">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" role="tab">Inactive Users ({{vm.inActiveUsersCount}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 3">
            <a class="nav-link text-secondary font-weight-bold" data-toggle="tab" role="tab">Register Pending Users ({{vm.registerPendingUsersCount}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 4">
            <a class="nav-link text-danger font-weight-bold" data-toggle="tab" role="tab">Deleted Users ({{vm.deletedUsersCount}})</a>
        </li>
    </ul>
    <div ng-init="vm.selectedTab = 1" class="tab-content" id="myTabContent">
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 1}" ng-show="vm.selectedTab === 1" role="tabpanel">
            <table class="table table-striped jokehub-action-menu">
                <thead>
                    <tr style="font-size: 13px;">
                        <th style="border: 0px;">Name</th>
                        <th style="border: 0px;">Registration Date</th>
                        <th style="border: 0px;">Pending Status</th>
                        <th style="border: 0px;">Approved Status</th>
                        <th style="border: 0px;">Rejected Status</th>
                        <th style="border: 0px;">Pending Payments</th>
                        <th style="border: 0px;">Payments</th>
                        <th class="text-right" style="border: 0px; width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.activeUsers">
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:user.id})">{{user.userName}} ({{user.dob | ageFilter}})</a>
                            <br/>
                            <small>{{user.sex | ageSex}}</small>
                        </td>
                        <td>{{user.created}}</td>
                        <td>50</td>
                        <td>125</td>
                        <td>50</td>
                        <td>100</td>
                        <td>250</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i title="View" ng-click="vm.viewUser(user)" data-toggle="modal" data-target="#viewUser" class="fa fa-info-circle cursor"></i>
                                <i title="Details" class="fa fa-folder-open cursor"></i>
                                <i title="In Active" class="fa fa-ban cursor"></i>
                                <i title="Delete" class="fa fa-trash-o cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 2}" ng-show="vm.selectedTab === 2" role="tabpanel">
            <table class="table table-striped jokehub-action-menu">
                <thead>
                    <tr style="font-size: 13px;">
                        <th style="border: 0px;">Name</th>
                        <th style="border: 0px;">Registration Date</th>
                        <th style="border: 0px;">Pending Status</th>
                        <th style="border: 0px;">Approved Status</th>
                        <th style="border: 0px;">Rejected Status</th>
                        <th style="border: 0px;">Pending Payments</th>
                        <th style="border: 0px;">Payments</th>
                        <th class="text-right" style="border: 0px; width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.inActiveUsers">
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:user.id})">{{user.userName}}</a>
                        </td>
                        <td>{{user.created}}</td>
                        <td>5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i title="View" ng-click="vm.viewUser(user)" data-toggle="modal" data-target="#viewUser" class="fa fa-info-circle cursor"></i>
                                <i title="Details" class="fa fa-folder-open cursor"></i>
                                <i title="Active" class="fa fa-check cursor"></i>
                                <i title="Delete" class="fa fa-trash-o cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 3}" ng-show="vm.selectedTab === 3" role="tabpanel">
            <table class="table table-striped jokehub-action-menu">
                <thead>
                    <tr style="font-size: 13px;">
                        <th style="border: 0px;">Name</th>
                        <th style="border: 0px;">Registration Date</th>
                        <th style="border: 0px;">Pending Status</th>
                        <th style="border: 0px;">Approved Status</th>
                        <th style="border: 0px;">Rejected Status</th>
                        <th style="border: 0px;">Pending Payments</th>
                        <th style="border: 0px;">Payments</th>
                        <th class="text-right" style="border: 0px; width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.registerPendingUsers">
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:user.id})">{{user.userName}}</a>
                        </td>
                        <td>{{user.created}}</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i title="View" ng-click="vm.viewUser(user)" data-toggle="modal" data-target="#viewUser" class="fa fa-info-circle cursor"></i>
                                <i title="Details" class="fa fa-folder-open cursor"></i>
                                <i title="Active" class="fa fa-check cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 4}" ng-show="vm.selectedTab === 4" role="tabpanel">
            <table class="table table-striped jokehub-action-menu">
                <thead>
                    <tr style="font-size: 13px;">
                        <th style="border: 0px;">Name</th>
                        <th style="border: 0px;">Registration Date</th>
                        <th style="border: 0px;">Pending Status</th>
                        <th style="border: 0px;">Approved Status</th>
                        <th style="border: 0px;">Rejected Status</th>
                        <th style="border: 0px;">Pending Payments</th>
                        <th style="border: 0px;">Payments</th>
                        <th class="text-right" style="border: 0px; width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.deletedUsers">
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:user.id})">{{user.userName}}</a>
                        </td>
                        <td>{{user.created}}</td>
                        <td>2</td>
                        <td>0</td>
                        <td>100</td>
                        <td>0</td>
                        <td>0</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i title="View" ng-click="vm.viewUser(user)" data-toggle="modal" data-target="#viewUser" class="fa fa-info-circle cursor"></i>
                                <i title="Active" class="fa fa-check cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>