<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white flexOverwrite">
        <ul class="header__nav">
                <li><a>Megan Fox <i class="icon downarrow-icon"></i></a></li>
                <li><a>Help <i class="icon help-icon"></i></a></li>
                <li><a ng-click="vm.logout()">Signout <i class="icon logout-icon"></i></a></li>
            </ul>
    <!-- <a class="navbar-brand" ui-sref="jokehub.dashboard">jokehub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">

        </ul>
        <div class="form-inline mt-2 mt-md-0 btn-group">
            <img src="app/images/sprite.png"> -->

            <!-- <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" ng-click="vm.logout()" type="button">Logout</button>
            </div>
        </div> 
    </div>-->
</nav>