<IfModule mod_rewrite.c>
    RewriteEngine On

	#RewriteBase /services/
	RewriteBase /JokeHub/services/

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^ index.php [QSA,L]
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>
