<h3 class="pageTitle">
    <strong>Earning</strong>
</h3>
<section class="mainContentWrapper">
    <div class="d-flex flex-row">
        <div class="col-md-3 widget text-success">
            <div class="r3_counter_box">
                <i class="fa fa-inr"></i>
                <div class="stats">
                    <h5>45</h5>
                    <div class="grow bg-success">
                        <p>earning</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget text-warning">
            <div class="r3_counter_box">
                <i class="fa fa-file-text-o"></i>
                <div class="stats">
                    <h5>50</h5>
                    <div class="grow bg-warning">
                        <p>total approved status</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget text-info">
            <div class="r3_counter_box">
                <i class="fa fa-money"></i>
                <div class="stats">
                    <h5>70</h5>
                    <div class="grow bg-info">
                        <p>Paid</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget text-primary">
            <div class="r3_counter_box">
                <i class="fa fa-usd"></i>
                <div class="stats">
                    <h5>70</h5>
                    <div class="grow bg-primary">
                        <p>Balance</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</section>