<h3 class="pageTitle">
    <strong>Earning</strong>
</h3>
<section class="mainContentWrapper">
    <div class="row pb-3">
        <div class="col-sm-3">
            <div>
                <div class="text-center border earning shadow">
                    <span class="re">
                        {{vm.earning}}
                    </span>
                    <p class="pera bg-success text-white">
                        <i class="fa fa-inr"></i> Earning</p>
                </div>
                <div class="border bg-light text-center earning-bottom shadow">

                </div>
            </div>
            <div class="mt-3">
                <div class="text-center border earning shadow">
                    <span class="re">
                        0
                    </span>
                    <p class="pera bg-warning text-dark">
                        <i class="fa fa-file-text-o"></i> Approved Status</p>
                </div>
                <div class="border bg-light text-center earning-bottom shadow"></div>
            </div>
            <div class="mt-3">
                <div class="text-center border earning shadow ">
                    <span class="re">
                        0
                    </span>
                    <p class="pera bg-secondary text-white">
                        <i class="fa fa-inbox"></i> Paid</p>
                </div>
                <div class="border bg-light text-center earning-bottom shadow"></div>
            </div>
            <div class="mt-2">
                <div class="text-center border earning shadow">
                    <span class="re">
                        0
                    </span>
                    <p class="pera bg-primary text-white">
                        <i class="fa fa-balance-scale"></i> Balance</p>
                </div>
                <div class="border bg-light text-center earning-bottom shadow"></div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="form-group col-sm-5">
                    <label for="from">From</label>
                    <div class="input-group mb-3">
                        <select class="form-control" ng-model="vm.model.from.year" ng-options="opt.label for opt in [{value: '2018', label: '2018'}]">
                            <option value="">--Select Year--</option>
                        </select>
                        <select class="form-control" ng-model="vm.model.from.month" ng-options="opt.label for opt in [ {value: '1', label: 'January'},
                                    {value: '2', label: 'February'},
                                    {value: '3', label: 'March'},
                                    {value: '4', label: 'April'},
                                    {value: '5', label: 'May'},
                                    {value: '6', label: 'June'},
                                    {value: '7', label: 'July'},
                                    {value: '8', label: 'August'},
                                    {value: '9', label: 'September'},
                                    {value: '10', label: 'October'},
                                    {value: '11', label: 'November'},
                                    {value: '12', label: 'December'}]">
                            <option value="">---Please Month---</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-5">
                    <label for="to">To</label>
                    <div class="input-group mb-3">
                        <select class="form-control" ng-model="vm.model.to.year" ng-options="opt.label for opt in [{value: '2018', label: '2018'}]">
                            <option value="">--Select Year--</option>
                        </select>
                        <select class="form-control" ng-model="vm.model.to.month" ng-options="opt.label for opt in [ {value: '1', label: 'January'},
                                        {value: '2', label: 'February'},
                                        {value: '3', label: 'March'},
                                        {value: '4', label: 'April'},
                                        {value: '5', label: 'May'},
                                        {value: '6', label: 'June'},
                                        {value: '7', label: 'July'},
                                        {value: '8', label: 'August'},
                                        {value: '9', label: 'September'},
                                        {value: '10', label: 'October'},
                                        {value: '11', label: 'November'},
                                        {value: '12', label: 'December'}]">
                            <option value="">---Please Month---</option>
                        </select>
                    </div>
                </div>
                <div class="text-left col-sm-2 pt-2">
                    <button ng-click="vm.filter()" class="btn btn-success mt-4">Go</button>
                </div>
            </div>
            <canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels"> chart-series="series"
            </canvas>
        </div>
    </div>
</section>