<h3 class="pageTitle">
    <strong>Earning</strong>
</h3>
<section class="mainContentWrapper">
    <div class="row pb-3">
        <div class="col-sm-3">
            <div>
                <div class="text-center border earning shadow">
                    <span class="re">
                        {{vm.earning}}
                    </span>
                    <p class="pera bg-success text-white">
                        <i class="fa fa-inr"></i> Earning</p>
                </div>
                <div class="border bg-light text-center earning-bottom shadow">

                </div>
            </div>
            <div class="mt-3">
                <div class="text-center border earning shadow">
                    <span class="re">
                        0
                    </span>
                    <p class="pera bg-warning text-dark">
                        <i class="fa fa-file-text-o"></i> Approved Status</p>
                </div>
                <div class="border bg-light text-center earning-bottom shadow"></div>
            </div>
            <div class="mt-3">
                <div class="text-center border earning shadow ">
                    <span class="re">
                        0
                    </span>
                    <p class="pera bg-secondary text-white">
                        <i class="fa fa-inbox"></i> Paid</p>
                </div>
                <div class="border bg-light text-center earning-bottom shadow"></div>
            </div>
            <div class="mt-2">
                <div class="text-center border earning shadow">
                    <span class="re">
                        0
                    </span>
                    <p class="pera bg-primary text-white">
                        <i class="fa fa-balance-scale"></i> Balance</p>
                </div>
                <div class="border bg-light text-center earning-bottom shadow"></div>
            </div>
        </div>

        <div class="col-sm-9">
            <canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels"> chart-series="series"
            </canvas>
        </div>
    </div>
</section>