<div class="modal fade" id="viewUser" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-between w-100">
                    <div>{{vm.viewData.name}}</div>
                    <div>{{vm.viewData.email}}</div>
                    <div>
                        <button type="button" ng-click="vm.changeStatus(vm.viewData.nid, true)" class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Activate
                        </button>
                        <button type="button" ng-click="vm.changeStatus(vm.viewData.nid, false)" class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i> De-Activate
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h4>{{vm.viewData.title}}</h4>
                {{vm.viewData.about}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<h3 class="pageTitle">
    <strong>Rashid</strong>
</h3>
<section class="mainContentWrapper">
    <ul class="nav nav-tabs" role="tablist" style="display: block">
        <li class="nav-item cursor" ng-click="vm.selectedTab = 1">
            <a class="nav-link active text-success font-weight-bold" data-toggle="tab" role="tab">Approved Payment Pending (1)</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 2">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" role="tab">Approved And Paid (0)</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 3">
            <a class="nav-link text-danger font-weight-bold" data-toggle="tab" role="tab">Pending Status (60)</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 4">
            <a class="nav-link text-success font-weight-bold" data-toggle="tab" role="tab">Rejected Status (38)</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 5">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" role="tab">Payments (1)</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 6">
            <a class="nav-link text-danger font-weight-bold" data-toggle="tab" role="tab">Finally Paid (63)</a>
        </li>
    </ul>
    <div ng-init="vm.selectedTab = 1" class="tab-content" id="myTabContent">
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 1}" ng-show="vm.selectedTab === 1" role="tabpanel">
            <table st-table="vm.approvedPaymentPending" class="table table-striped jokehub-action-menu">
                <thead>
                    <tr>
                        <th style="border: 0px;">
                            <input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.isAllSelected" aria-label="Checkbox for following text input">
                        </th>
                        <th style="border: 0px;">Status</th>
                        <th style="border: 0px;">Category</th>
                        <th style="border: 0px;">Profile</th>
                        <th style="border: 0px;">Payment Id</th>
                        <th style="border: 0px;">Date Posted</th>
                        <th style="border: 0px;">Date Published</th>
                        <th style="border: 0px;">Date Payment</th>
                        <th style="width: 150px; border: 0px;" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.approvedPaymentPending">
                        <td>
                            <input type="checkbox" ng-click="vm.optionSelect()" ng-model="row.selected" aria-label="Checkbox for following text input">
                        </td>
                        <td>{{row.category}}</td>
                        <td>{{row.category}}</td>
                        <td>{{row.publishOn}}</td>
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:row.userId})">{{row.user}}</a>
                        </td>
                        <td>{{row.publishOn}}</td>
                        <td>{{row.publishOn}}</td>
                        <td>{{row.publishOn}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, true)" title="Approve" class="fa fa-check cursor"></i>
                                <i ng-click="vm.edit(row)" title="Edit" data-toggle="modal" data-target="#editContent" class="fa fa-pencil-square cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.view(row)" title="View" data-toggle="modal" data-target="#viewContent" class="fa fa-eye cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, false)" title="Reject" class="fa fa-ban cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 2}" ng-show="vm.selectedTab === 2" role="tabpanel">
            <table st-table="vm.approvedPaymentPending" class="table table-striped jokehub-action-menu">
                <thead>
                    <tr>
                        <th style="border: 0px;">
                            <input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.isAllSelected" aria-label="Checkbox for following text input">
                        </th>
                        <th style="border: 0px;">Status</th>
                        <th style="border: 0px;">Category</th>
                        <th style="border: 0px;">Profile</th>
                        <th style="border: 0px;">Payment Id</th>
                        <th style="border: 0px;">Date Posted</th>
                        <th style="border: 0px;">Date Published</th>
                        <th style="border: 0px;">Date Payment</th>
                        <th style="width: 150px; border: 0px;" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.approvedPaymentPending">
                        <td>
                            <input type="checkbox" ng-click="vm.optionSelect()" ng-model="row.selected" aria-label="Checkbox for following text input">
                        </td>
                        <td>{{row.category}}</td>
                        <td>{{row.category}}</td>
                        <td>{{row.publishOn}}</td>
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:row.userId})">{{row.user}}</a>
                        </td>
                        <td>{{row.publishOn}}</td>
                        <td>{{row.publishOn}}</td>
                        <td>{{row.publishOn}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, true)" title="Approve" class="fa fa-check cursor"></i>
                                <i ng-click="vm.edit(row)" title="Edit" data-toggle="modal" data-target="#editContent" class="fa fa-pencil-square cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.view(row)" title="View" data-toggle="modal" data-target="#viewContent" class="fa fa-eye cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, false)" title="Reject" class="fa fa-ban cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 3}" ng-show="vm.selectedTab === 3" role="tabpanel">

        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 4}" ng-show="vm.selectedTab === 4" role="tabpanel">

        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 5}" ng-show="vm.selectedTab === 5" role="tabpanel">

        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 6}" ng-show="vm.selectedTab === 6" role="tabpanel">
            <table st-table="vm.approvedPaymentPending" class="table table-striped jokehub-action-menu">
                <thead>
                    <tr>
                        <th style="border: 0px;">
                            <input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.isAllSelected" aria-label="Checkbox for following text input">
                        </th>
                        <th style="border: 0px;">Status</th>
                        <th style="border: 0px;">Category</th>
                        <th style="border: 0px;">Profile</th>
                        <th style="border: 0px;">Payment Id</th>
                        <th style="border: 0px;">Date Posted</th>
                        <th style="border: 0px;">Date Published</th>
                        <th style="border: 0px;">Date Payment</th>
                        <th style="width: 150px; border: 0px;" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.approvedPaymentPending">
                        <td>
                            <input type="checkbox" ng-click="vm.optionSelect()" ng-model="row.selected" aria-label="Checkbox for following text input">
                        </td>
                        <td>{{row.category}}</td>
                        <td>{{row.category}}</td>
                        <td>{{row.publishOn}}</td>
                        <td>
                            <a ui-sref="jokehub.userDetail({userId:row.userId})">{{row.user}}</a>
                        </td>
                        <td>{{row.publishOn}}</td>
                        <td>{{row.publishOn}}</td>
                        <td>{{row.publishOn}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, true)" title="Approve" class="fa fa-check cursor"></i>
                                <i ng-click="vm.edit(row)" title="Edit" data-toggle="modal" data-target="#editContent" class="fa fa-pencil-square cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.view(row)" title="View" data-toggle="modal" data-target="#viewContent" class="fa fa-eye cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, false)" title="Reject" class="fa fa-ban cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>