<div class="modal fade" id="viewUser" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-between w-100">
                    <div>{{vm.viewData.name}}</div>
                    <div>{{vm.viewData.email}}</div>
                    <div>
                        <button type="button" ng-click="vm.changeStatus(vm.viewData.nid, true)" class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Activate
                        </button>
                        <button type="button" ng-click="vm.changeStatus(vm.viewData.nid, false)" class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i> De-Activate
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h4>{{vm.viewData.title}}</h4>
                {{vm.viewData.about}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewContent" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <a ui-sref="jokehub.userDetail({userId:vm.viewData.userId})">{{vm.viewData.user}}</a>
                    </div>
                    <div>
                        <b>{{vm.viewData.category}}</b>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div ng-if="vm.viewData.reason" class="alert alert-warning" role="alert">
                    <strong>Reject Reason - </strong>{{vm.viewData.reason}}
                </div>
                <span ng-bind-html="vm.displayDescription(vm.viewData.description)"></span>
            </div>
            <div class="modal-footer">
                <em class="float-left">
                    {{vm.viewData.publishOn}}
                </em>
                <!-- <button type="button" class="btn btn-secondary btn-sm">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm">
                        <i class="fa fa-chevron-right"></i>
                    </button> -->
                <button jh-privilege="ADMIN" ng-if="vm.selectedTab == 3 || vm.selectedTab == 2" type="button" ng-click="vm.changeStatus(vm.viewData.nid, true)"
                    class="btn btn-success btn-sm">
                    <i class="fa fa-check"></i> Approve
                </button>
                <button jh-privilege="ADMIN" ng-if="vm.selectedTab == 1 || vm.selectedTab == 2" type="button"
                    data-dismiss="modal" ng-click="vm.changeStatus(vm.viewData.nid, false)" class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i> Reject
                </button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="approvedPayment" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group row">
                    <label for="no" class="col-sm-2 col-form-label">No of Jokes</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="no" value="{{vm.ids.length}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="perJoke" class="col-sm-2 col-form-label">Per Joke</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="perJoke" value="0" ng-change="vm.total = (perJoke * vm.ids.length)"
                            id="perJoke" placeholder="Per Joke">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="total" class="col-sm-2 col-form-label">Total</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="total" ng-model="vm.total">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="vm.approvedPayment(vm.total)" data-dismiss="modal" type="button" class="btn btn-success btn-sm">
                    Approved Payment
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="makePayment" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Payment Mode</label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="vm.paymentMode" ng-options="opt.label for opt in [{value: '1', label: 'Paytm'}, {value: '2', label: 'Bank'}]">
                                    <option value="">--Select Payment Mode--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Notes</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" ng-model="vm.paymentNote"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            Mode : <span class="badge badge-pill badge-{{vm.accountDetail.paymentMode === '2' ? 'success' : 'warning' }}">
                                <b>{{vm.accountDetail.paymentMode == '2' ? 'Paytm' : 'Bank'}}</b>
                            </span>
                            <div ng-if="vm.paymentMode.value == 1">{{vm.accountDetail.paytm}}</div>
                            <div ng-if="vm.paymentMode.value == 2">Bank</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="vm.makePayment()" data-dismiss="modal" type="button" class="btn btn-success btn-sm">
                    Make Payment
                </button>
            </div>
        </div>
    </div>
</div>
<h3 class="pageTitle row">
    <strong class="col-sm-8">{{vm.userDetails.userName}}</strong>
    <div class="col-sm-4 text-right">
        <button ng-show="vm.selectedTab === 1" data-toggle="modal" ng-click="vm.selectForApprovedPayment()" data-target="#approvedPayment"
            ng-disabled="vm.isAllApprovedPaymentEnabled()" type="button" class="btn btn-success btn-sm">Approved
            Payment</button>
        <button ng-show="vm.selectedTab === 2" data-toggle="modal" ng-click="vm.selectForMakePayment()" data-target="#makePayment"
            ng-disabled="vm.isAllMakePaymentEnabled()" type="button" class="btn btn-warning btn-sm">Make Payment</button>
    </div>
</h3>
<section class="mainContentWrapper">
    <ul class="nav nav-tabs" role="tablist" style="display: block">
        <li class="nav-item cursor" ng-click="vm.selectedTab = 1">
            <a class="nav-link active text-success font-weight-bold" data-toggle="tab" role="tab">Approved Payment
                Pending
                ({{vm.approvedPaymentPending.length}})
            </a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 2">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" role="tab">Approved And Paid
                ({{vm.approvedAndPaid.length}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 3">
            <a class="nav-link text-danger font-weight-bold" data-toggle="tab" role="tab">Pending Status
                ({{vm.pendingStatus.length}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 4">
            <a class="nav-link text-success font-weight-bold" data-toggle="tab" role="tab">Rejected Status
                ({{vm.rejectedStatus.length}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 5">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" role="tab">Payments
                ({{vm.payments.length}})</a>
        </li>
        <li class="nav-item cursor" ng-click="vm.selectedTab = 6">
            <a class="nav-link text-danger font-weight-bold" data-toggle="tab" role="tab">Finally Paid</a>
        </li>
    </ul>
    <div ng-init="vm.selectedTab = 1" class="tab-content" id="myTabContent">
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 1}" ng-show="vm.selectedTab === 1" role="tabpanel">
            <table st-table="vm.approvedPaymentPending" class="table table-striped jokehub-action-menu">
                <thead>
                    <tr>
                        <th style="border: 0px;">
                            <input type="checkbox" ng-click="vm.selectAllApprovedPaymentPending()" ng-model="vm.isAllApprovedPaymentPendingSelected"
                                aria-label="Checkbox for following text input">
                        </th>
                        <th style="border: 0px;">Joke</th>
                        <th style="border: 0px;">Category</th>
                        <th style="border: 0px;">Date Posted</th>
                        <th style="border: 0px;">Date Published</th>
                        <th style="width: 150px; border: 0px;" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.approvedPaymentPending">
                        <td>
                            <input type="checkbox" ng-model="row.selected" aria-label="Checkbox for following text input">
                        </td>
                        <td>
                            <div class="wrap-text">{{vm.stripHtml(row.description)}}</div>
                        </td>
                        <td>{{row.category}}</td>
                        <td>{{row.publishOn}}</td>
                        <td>{{row.publishOn}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i jh-privilege="ADMIN" ng-click="vm.view(row)" title="View" data-toggle="modal"
                                    data-target="#viewContent" class="fa fa-eye cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, false)" title="Reject" class="fa fa-ban cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 2}" ng-show="vm.selectedTab === 2" role="tabpanel">
            <table st-table="vm.approvedAndPaid" class="table table-striped jokehub-action-menu">
                <thead>
                    <tr>
                        <th style="border: 0px;">
                            <input type="checkbox" ng-click="vm.selectAllMakePayment()" ng-model="vm.iAllMakePaymentSelected"
                                aria-label="Checkbox for following text input">
                        </th>
                        <th style="border: 0px;">No of Jokes</th>
                        <th style="border: 0px;">Paid Amount</th>
                        <th style="border: 0px;">Date Payment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.approvedAndPaid">
                        <td>
                            <input type="checkbox" ng-model="row.selected" aria-label="Checkbox for following text input">
                        </td>
                        <td>{{row.jokes.length}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.paymentOn}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i jh-privilege="ADMIN" ng-click="vm.view(row.jokes)" title="View" data-toggle="modal"
                                    data-target="#viewContent" class="fa fa-eye cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 3}" ng-show="vm.selectedTab === 3" role="tabpanel">
            <table st-table="vm.pendingStatus" class="table table-striped jokehub-action-menu">
                <thead>
                    <tr>
                        <th style="border: 0px;">
                            <input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.isAllSelected" aria-label="Checkbox for following text input">
                        </th>
                        <th style="border: 0px;">Status</th>
                        <th style="border: 0px;">Category</th>
                        <th style="border: 0px;">Date Posted</th>
                        <th style="width: 150px; border: 0px;" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.pendingStatus">
                        <td>
                            <input type="checkbox" ng-click="vm.optionSelect()" ng-model="row.selected" aria-label="Checkbox for following text input">
                        </td>
                        <td>
                            <div class="wrap-text">{{vm.stripHtml(row.description)}}</div>
                        </td>
                        <td>{{row.category}}</td>
                        <td>{{row.publishOn}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i jh-privilege="ADMIN" ng-click="vm.view(row)" title="View" data-toggle="modal"
                                    data-target="#viewContent" class="fa fa-eye cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, true)" title="Approve" class="fa fa-check cursor"></i>
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, false)" title="Reject" class="fa fa-ban cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 4}" ng-show="vm.selectedTab === 4" role="tabpanel">
            <table st-table="vm.rejectedStatus" class="table table-striped jokehub-action-menu">
                <thead>
                    <tr>
                        <th style="border: 0px;">
                            <input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.isAllSelected" aria-label="Checkbox for following text input">
                        </th>
                        <th style="border: 0px;">Joke</th>
                        <th style="border: 0px;">Category</th>
                        <th style="border: 0px;">Reason</th>
                        <th style="border: 0px;">Date Posted</th>
                        <th style="width: 150px; border: 0px;" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.rejectedStatus">
                        <td>
                            <input type="checkbox" ng-click="vm.optionSelect()" ng-model="row.selected" aria-label="Checkbox for following text input">
                        </td>
                        <td>
                            <div class="wrap-text">{{vm.stripHtml(row.description)}}</div>
                        </td>
                        <td>{{row.category}}</td>
                        <td>{{row.reason}}</td>
                        <td>{{row.publishOn}}</td>
                        <td style="position: relative;">
                            <div class="action-menu">
                                <i jh-privilege="ADMIN" ng-click="vm.changeStatus(row.nid, true)" title="Approve" class="fa fa-check cursor"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 5}" ng-show="vm.selectedTab === 5" role="tabpanel">
            <table st-table="vm.payments" class="table table-striped jokehub-action-menu">
                <thead>
                    <tr>
                        <th style="border: 0px;">Payment Id</th>
                        <th style="border: 0px;">Amount</th>
                        <th style="border: 0px;">Payment Date</th>
                        <th style="border: 0px;">Cheque/Wire Transfer</th>
                        <th style="border: 0px;">Referance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.payments">
                        <td>{{row.paymentId}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.paymentOn}}</td>
                        <td>{{row.medium}}</td>
                        <td>{{row.referance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" ng-class="{'show active': vm.selectedTab === 6}" ng-show="vm.selectedTab === 6" role="tabpanel">
            Working on
        </div>
    </div>

</section>