<h3 class="pageTitle">
    <span class="fontWght400">Create</span>
    <strong>Joke</strong>
</h3>
<section class="mainContentWrapper">
    <h6 class="fontWght600">It’s too easy to create your own joke and publish on
        <a href="http://www.thejokehub.com" target="_blank">www.thejokehub.com.</a> In just two simple steps you can create it. It’s like playing with the toys.</h6>
    <p class="lightGrey basicContent fontWght400">Simply add jokes on Thejokehub and earn at home</p>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div dl-form="addJoke" form-model="vm.createJokeModel"></div>
                <button type="submit" ng-click="vm.createJoke()" class="btn btn-primary">Create Joke</button>
            </div>
        </div>
    </div>
</section>