<div>
    <div class="row my-2">
        <div class="col-sm-10 order-lg-2">
            <ul ng-show="selectedDetailsTab === 1 || selectedDetailsTab === 2 || selectedDetailsTab === 5 || selectedDetailsTab === 6"
                class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item cursor" ng-click="selectedDetailsTab = 1">
                    <a class="nav-link" ng-class="{'show active': selectedDetailsTab === 1}">Personal Detail</a>
                </li>
                <li class="nav-item cursor" ng-click="selectedDetailsTab = 2">
                    <a class="nav-link" ng-class="{'show active': selectedDetailsTab === 2}">Payment Detail</a>
                </li>
                <li class="nav-item cursor" ng-click="selectedDetailsTab = 5">
                    <a class="nav-link" ng-class="{'show active': selectedDetailsTab === 5}">Change Password</a>
                </li>
                <li class="nav-item cursor" ng-click="selectedDetailsTab = 6">
                    <a class="nav-link" ng-class="{'show active': selectedDetailsTab === 6}">Testimonial</a>
                </li>
            </ul>
            <div ng-init="selectedDetailsTab = 1" class="pt-2" class="tab-content">
                <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 1}" ng-show="selectedDetailsTab === 1" role="tabpanel">
                    <div class="row">
                        <h5 class="mb-0 col-sm-11">{{userProfile.userName}}
                            <i ng-if="userProfile.sex == 1" class="fa fa-male" aria-hidden="true"></i>
                            <i ng-if="userProfile.sex == 2" class="fa fa-female" aria-hidden="true"></i>
                        </h5>
                        <span class="col-sm-1">
                            <span class="cursor badge badge-warning">
                                Edit <i class="fa fa-lg fa-edit" ng-click="selectedDetailsTab = 3; editProfile()"></i>
                            </span>
                        </span>
                    </div>
                    <a class="badge badge-primary" href="http://www.thejokehub.com/user/{{userProfile.profileUrl}}" target="_blank">
                        <i class="fa fa-link" aria-hidden="true"></i> http://www.thejokehub.com/user/{{userProfile.profileUrl}}</a>
                    <div class="mt-2">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        {{userProfile.email}}
                    </div>
                    <div class="mt-1">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        {{userProfile.phone}}
                    </div>
                    <div class="mt-1">
                        <i class="fa fa fa-globe" aria-hidden="true"></i>
                        {{userProfile.address}} ({{countryName}})
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <h6>About</h6>
                            <p>
                                {{userProfile.about}}
                            </p>
                        </div>
                        <div class="col-md-12 mt-3">
                            <h6>Description</h6>
                            <p>
                                {{userProfile.description}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 2}" ng-show="selectedDetailsTab === 2" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-10">
                            Your prefred payment mode -
                            <span class="badge badge-pill badge-{{paymentDetail.preferredPaymentMode === '2' ? 'success' : 'warning' }}">
                                <b>{{paymentDetail.preferredPaymentMode == '2' ? 'Paytm' : 'Bank'}}</b>
                            </span>
                        </div>
                        <span class="col-sm-1">
                            <span class="cursor badge badge-warning">
                                Edit <i class="fa fa-lg fa-edit" ng-click="selectedDetailsTab = 4; editPaymentDetails()"></i>
                            </span>
                        </span>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-5">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Account Holder Name
                        </div>
                        <div class="col-sm-7">
                            {{paymentDetail.accountHolderName}}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-5">
                            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                            Account Number
                        </div>
                        <div class="col-sm-7">
                            {{paymentDetail.accountNumber}}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-5">
                            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                            IFSC Code
                        </div>
                        <div class="col-sm-7">
                            {{paymentDetail.ifscCode}}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-5">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                            Bank Name
                        </div>
                        <div class="col-sm-7">
                            {{paymentDetail.bankName}}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-5">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            Branch Name
                        </div>
                        <div class="col-sm-7">
                            {{paymentDetail.bankAddress}}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-5">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            Paytm Number
                        </div>
                        <div class="col-sm-7">
                            {{paymentDetail.paytmNumber}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 3}" ng-show="selectedDetailsTab === 3" role="tabpanel">
                    <div dl-form="userDetail" mode="half" form-model="userDetailModel"></div>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="updateDetails()">Update</button>
                    <button type="button" class="btn btn-secondary btn-sm" ng-click="selectedDetailsTab = 1">Cencel</button>
                </div>
                <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 4}" ng-show="selectedDetailsTab === 4" role="tabpanel">
                    <div dl-form="userPaymentDetail" mode="half" form-model="userPaymentDetailModel"></div>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="updatePaymentDetails()">Update</button>
                    <button type="button" class="btn btn-secondary btn-sm" ng-click="selectedDetailsTab = 2">Cencel</button>
                </div>
                <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 6}" ng-show="selectedDetailsTab === 6" role="tabpanel">
                    <div dl-form="testimonial" mode="half" form-model="addTestimonialModel"></div>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="addTestimonial()">Add Testimonial</button>
                    <button type="button" class="btn btn-secondary btn-sm" ng-click="selectedDetailsTab = 1">Cencel</button>
                </div>
            </div>
            <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 5}" ng-show="selectedDetailsTab === 5" role="tabpanel">
                <div dl-change-password cancel="selectedDetailsTab = 1"></div>
            </div>
        </div>
        <div class="col-sm-2 order-lg-1 text-center">
            <img src="http://thejokehub.com/profile_img/{{userProfile.userImage}}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <div data-dl-upload="imageData" class="mt-2"></div>
            <button style="padding:2px 3px" ng-show="imageData.isUpdateImage" class="btn btn-sm btn-success" ng-click="updateImage()">Update Image</button>
        </div>
    </div>
</div>