<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="filer" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="filer">Profile</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row my-2">
                        <div class="col-lg-8 order-lg-2">
                            <ul ng-show="selectedDetailsTab === 1 || selectedDetailsTab === 2" class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item cursor" ng-click="selectedDetailsTab = 1">
                                    <a class="nav-link" ng-class="{'show active': selectedDetailsTab === 1}">Personal Detail</a>
                                </li>
                                <li class="nav-item cursor" ng-click="selectedDetailsTab = 2">
                                    <a class="nav-link" ng-class="{'show active': selectedDetailsTab === 2}">Payment Detail</a>
                                </li>
                            </ul>
                            <div ng-init="selectedDetailsTab = 1" class="pt-2" class="tab-content">
                                <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 1}" ng-show="selectedDetailsTab === 1" role="tabpanel">
                                    <div class="row">
                                        <h5 class="mb-0 col-sm-11">{{userProfile.userName}}
                                            <i ng-if="userProfile.sex == 1" class="fa fa-male" aria-hidden="true"></i>
                                            <i ng-if="userProfile.sex == 2" class="fa fa-female" aria-hidden="true"></i>
                                        </h5>
                                        <i class="col-sm-1 fa fa-edit" ng-click="selectedDetailsTab = 3; editProfile()"></i>
                                    </div>
                                    <a class="badge badge-primary" href="http://www.thejokehub.com/user/{{userProfile.profileUrl}}" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i> http://www.thejokehub.com/user/{{userProfile.profileUrl}}</a>
                                    <div class="mt-2">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        {{userProfile.email}}
                                    </div>
                                    <div class="mt-1">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                        {{userProfile.phone}}
                                    </div>
                                    <div class="mt-1">
                                        <i class="fa fa fa-globe" aria-hidden="true"></i>
                                        {{userProfile.country}}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mt-3">
                                            <h6>About</h6>
                                            <p>
                                                {{userProfile.about}}
                                            </p>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <h6>Description</h6>
                                            <p>
                                                {{userProfile.description}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 2}" ng-show="selectedDetailsTab === 2" role="tabpanel">
                                    Your prefred payment mode -
                                    <span class="badge badge-pill badge-success">
                                        <b>Paytm</b>
                                    </span>
                                    <div class="row mt-2">
                                        <div class="col-sm-5">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Account Holder Name
                                        </div>
                                        <div class="col-sm-7">
                                            {{userProfile.account_holder_name}}
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-sm-5">
                                            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                            Account Number
                                        </div>
                                        <div class="col-sm-7">
                                            {{userProfile.account_number}}
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-sm-5">
                                            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                            IFSC Code
                                        </div>
                                        <div class="col-sm-7">
                                            {{userProfile.bank_ifsc}}
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-sm-5">
                                            <i class="fa fa-building-o" aria-hidden="true"></i>
                                            Bank Name
                                        </div>
                                        <div class="col-sm-7">
                                            {{userProfile.bank_name}}
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-sm-5">
                                            <i class="fa fa-globe" aria-hidden="true"></i>
                                            Branch Name
                                        </div>
                                        <div class="col-sm-7">
                                            {{userProfile.bank_branch_name}}
                                        </div>
                                    </div>


                                    <div class="row mt-3">
                                        <div class="col-sm-5">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            Paytm Number
                                        </div>
                                        <div class="col-sm-7">
                                            {{userProfile.paytm_number}}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" ng-class="{'show active': selectedDetailsTab === 3}" ng-show="selectedDetailsTab === 3" role="tabpanel">
                                    <div dl-form="userDetail" mode="half" form-model="userDetailModel"></div>
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="updateDetails()">Update</button>
                                    <button type="button" class="btn btn-secondary btn-sm" ng-click="selectedDetailsTab = 1">Cencel</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1 text-center">
                            <img src="http://thejokehub.com/img/{{userProfile.userImage}}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                            <button class="btn btn-success mt-2 btn-sm">Update Image</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>