<div class="liquidHgt loginBG">
    <form class="form-signin">
        <fieldset ng-disabled="vm.isLoading" ng-if="!vm.showSuccessMsg && !vm.showErrorMsg">
            <div class="text-center">
                <img src="app/images/logo.png" />
            </div>
            {{vm.confirmId}}
            <label for="newPassword" class="sr-only">New Password</label>
            <input type="password" id="newPassword" ng-model="resetPassword.password" class="form-control loginInput" placeholder="New Password"
                required>
            <label for="confirmPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="confirmPassword" ng-model="resetPassword.confirmPassword" class="form-control loginInput" placeholder="Confirm Password"
                required>
            <button ng-disabled="!resetPassword.password || resetPassword.password != resetPassword.confirmPassword" class="btn btn-lg btn-primary btn-block loginButton mt-4"
                ng-click="vm.reset(resetPassword)" type="submit">
                <i ng-show="vm.isLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Reset</button>
        </fieldset>
        <div class="alert alert-success" role="alert" ng-if="vm.showSuccessMsg">
            <p>
                Hi User,
                <br />
                <br /> Password Changed successfuly.
                <br /><br /><em> Now you can login with new password</em>
                <br />
                <br/>Thanks,
                <br />TheJokeHub Team
            </p>
            <div class="mt-4 text-center pt-3" style="border-top:1px solid">
                Click here to <a ui-sref="jokehub.login">Login</a>
            </div>
        </div>
        <div class="alert alert-warning" role="alert" ng-if="vm.showErrorMsg">
            <p>
                {{vm.errorMsg}}
                <br />
                <br/>Thanks,
                <br />TheJokeHub Team
            </p>
            <div class="mt-4 text-center pt-3" style="border-top:1px solid">
                Click here to <a ui-sref="jokehub.forgotPassword">Forgot Password</a>
            </div>
        </div>
    </form>
</div>