<div class="liquidHgt loginBG">
  <form class="form-signin">

    <fieldset ng-disabled="vm.isLoading">
      <div class="text-center">
        <img src="app/images/logo.png" />
      </div>
      <div ng-if="vm.showError" class="alert alert-danger" role="alert">
        {{::vm.error}}
      </div>
      <!-- <h2 class="form-signin-heading font15">Please sign in</h2> -->
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" ng-model="login.userName" class="form-control loginInput" placeholder="Email address"
        required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" ng-model="login.password" id="inputPassword" class="form-control loginInput" placeholder="Password"
        required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block loginButton" ng-click="vm.doLogin(login)" type="submit">
        <i ng-show="vm.isLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Login</button>
      <div class="checkbox">
        <a href="#!/signup">Create Account</a>
      </div>
    </fieldset>
  </form>
</div>