<div class="liquidHgt loginBG">
  <form class="form-signin">

    <fieldset ng-disabled="vm.isLoading">
      <div class="text-center">
        <img src="app/images/logo.png" />
      </div>
      <div ng-if="vm.showError" class="alert alert-danger" role="alert">
        {{::vm.error}}
      </div>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" ng-model="login.userName" class="form-control loginInput" placeholder="Email address"
        required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" ng-model="login.password" id="inputPassword" class="form-control loginInput" placeholder="Password"
        required>
      <div class="checkbox row">
        <label class="col-sm-6">
          <input type="checkbox" style="margin: 0px" value="remember-me"> Remember me
        </label>
        <label class="col-sm-6 text-right">
          <a ui-sref="jokehub.forgotPassword">Forgot Password</a>
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block loginButton" ng-click="vm.doLogin(login)" type="submit">
        <i ng-show="vm.isLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Login</button>
      <div class="mt-4 text-center">
        <a ui-sref="jokehub.signup">Create Account</a>
      </div>
    </fieldset>
  </form>
</div>