body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff !important;
}

.form-signin {
  width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  border: solid 1px #272727;
  margin: 13px 0;
  border-radius: 5px !important;
}

.form-signin button.loginButton {
  background-color: #ed7904;
  border: solid 1px #d26b03;
  border-radius: 10px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1031;
  /* overflow-x: hidden; 
  overflow-y: hidden;*/
  background: #2F3239;
  width: 78px;
}

/* Sidebar navigation */

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item+.nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
   * Dashboard
   */

/* Placeholders */

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.fa-6 {
  font-size: 160px;
  padding-top: 40px;
}

.rounded-circle {
  border: 1px solid #333;
  width: 250px;
  height: 250px;
}

.fixed-top {
  justify-content: flex-end;
}

.header__nav {
  list-style: none;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.header__nav li a {
  font-size: 0.9rem;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: .8rem 0;
}

.header__nav {
  list-style: none;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.header__nav li a {
  font-size: 0.9rem;
}

/* Header Css start */

.header__nav {
  list-style: none;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.header__nav li a {
  font-size: 0.9rem;
}

.header__nav {
  list-style: none;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.header__nav li a {
  font-size: 0.9rem;
}

.header__nav li {
  padding: 0 10px;
  border-right: solid 1px #cccccc;
  cursor: pointer;
}

.header__nav li:last-child {
  border: 0;
}

.header__nav li a i {
  vertical-align: -5px;
}

.header__sideNav li a {
  padding: 12px 2px;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #9ca1b1 !important;
  font-weight: 400;
}

ul.header__sideNav li:hover>a, ul.header__sideNav li>a.nav-link.active {
  color: #ffffff !important;
}

.header__sideNav li a i {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.header__sideNav li.header__logoCntr {
  color: #ffff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 6px;
}

.header__sideNav li {
  text-align: center;
  position: relative;
}

/* Header Css start */

/* Generic Css start */

.icon {
  background: url("../../app/images/sprite.png") no-repeat 0 0;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.downarrow-icon {
  background-position: -18px -235px;
}

.help-icon {
  background-position: -18px -259px;
}

.logout-icon {
  background-position: -18px -282px;
}

.dashboard-icon {
  background-position: -12px -86px;
}

.product-icon {
  background-position: -12px -156px;
}

.active .dashboard-icon, .nav-item:hover .dashboard-icon {
  background-position: -12px -117px;
}

.active .product-icon, .nav-item:hover .product-icon {
  background-position: -12px -193px;
}

.fontWght400 {
  font-weight: 400;
}

.col_sm_9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 77px;
}

.pageTitle {
  position: fixed;
  width: 96%;
  top: 50px;
  background: #f3f5f9;
  padding: 9px 15px;
  font-size: 20px;
  border-top: solid 1px #d7dae3;
  border-bottom: solid 1px #d7dae3;
  z-index: 1
}

.mainContentWrapper {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.flex-container-Center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.font600 {
  font-weight: 600;
}

.lightGrey {
  color: #4a4a4a;
}

.basicContent {
  font-size: .87rem;
}

.liquidHgt, html, body, #jokehub {
  height: 100%;
}

.pd0 {
  padding: 0px;
}

/* Generic Css End */

/* Product Css start */

.prodct__productBoxCatIcon {
  width: 110px;
  border-radius: 100%;
  border: solid 1px #ccc;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 102px;
}

.product__productBox {
  width: 250px;
  margin: 0 15px;
  border: solid 1px #ccc;
  padding: 20px;
}

.product__viewBox {
  margin: -21px -21px;
  display: block;
  width: auto;
  height: 167px;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

/* Product Css end */

/* Login Css Start */

.loginBG {
  background: url("../../app/images/loginBG.png") no-repeat center center;
  background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Css End */

.wrap-text, .wrap-text>div {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor {
  cursor: pointer;
}

.r3_counter_box {
  -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  min-height: 100px;
  background: #ffffff;
  text-align: center;
  position: relative;
}

.r3_counter_box .fa {
  margin-right: 0px;
  width: 66px;
  height: 130px;
  text-align: center;
  line-height: 105px;
  font-size: 3.5em;
}

.stats {
  overflow: hidden;
  border-top: 1px solid #DDD;
  background: #f9f9f9;
  padding: 1.5em;
}

.r3_counter_box h5 {
  margin: 10px 0;
  color: #575757;
  font-size: 2.5em;
}

.stats span {
  color: #999;
  font-size: 14px;
}

/* Colos */

.grow {
  position: absolute;
  top: 47%;
  left: 20%;
  width: 160px;
  height: 30px;
  padding: .4em 0 0;
}

.grow p {
  color: #fff;
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
}

.grow1, .grow3, .grow2 {
  left: 36%;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height: 350px;
}

.joke-hub-dp {
  border-radius: 0px;
  padding: 0px;
}

.joke-hub-dp a {
  padding: 5px 10px;
}

.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}

.circle-tile-heading {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #FFFFFF;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px;
}

.circle-tile-heading .fa {
  line-height: 80px;
}

.circle-tile-content {
  padding-top: 50px;
}

.circle-tile-number {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 0 15px;
}

.circle-tile-description {
  text-transform: uppercase;
}

.circle-tile-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px;
  transition: all 0.3s ease-in-out 0s;
}

.circle-tile-footer:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.circle-tile-heading.dark-blue:hover {
  background-color: #2E4154;
}

.circle-tile-heading.green:hover {
  background-color: #138F77;
}

.circle-tile-heading.orange:hover {
  background-color: #DA8C10;
}

.circle-tile-heading.blue:hover {
  background-color: #2473A6;
}

.circle-tile-heading.red:hover {
  background-color: #CF4435;
}

.circle-tile-heading.purple:hover {
  background-color: #7F3D9B;
}

.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.jokehub-action-menu tr {
  position: relative;
}

.jokehub-action-menu tr .action-menu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 10px;
  height: 100%;
  top: 0px;
  right: 0px;
}

.jokehub-action-menu tr:hover .action-menu {
  display: inline-block;
}

.action-menu i {
  padding: 0 3px;
  font-size: 19px;
  color: #333;
}

.nav-tabs .nav-item {
  float: left!important;
}

.re {
  font-size: 40px;
}

.earning {
  height: 80px;
}

.earning-bottom {
  height: 30px;
}

.pera {
  width: 70%;
  margin: auto;
  padding: 5px;
  font-size: 19px;
  position: relative;
  top: 0px;
}

.shaido {
  text-shadow: 5px 5px 5px 5px;
  color: lightslategray
}

.std-box {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
  padding: 24px 0 0 0;
}

.sign-up-info {
  background: #fff;
}