<h3 class="pageTitle">
    <strong>Promotions</strong>
</h3>
<section class="mainContentWrapper">
    <div id="fb-root"></div>
    <div class="row">
        <div class="col-sm-4">
            <p>Like Us on FaceBook</p>
            <div class="fb-page" data-href="https://www.facebook.com/TheJokeHub/" data-small-header="false" data-adapt-container-width="false"
                data-hide-cover="true" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/TheJokeHub/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TheJokeHub/">The
                        Joke Hub</a></blockquote>
            </div>
        </div>
    </div>
</section>