<h3 class="pageTitle">
    <span class="fontWght400">Our</span>
    <strong>Guidelines</strong>
</h3>
<section class="mainContentWrapper">
    <h5>Here we have all guide lines for TheJokeHub, you must follow for your account & Jokes to get approved.</h5>
    <ul class="list-group list-group-flush ml-4">
        <li>We only accept Jokes in English / Hinglish / Hindi. So if you are submitting Jokes in any other language then
            your Jokes and account will never get approved.</li>
        <li>We do not accept copied Jokes, which means if you are going to copy Jokes or lines from any other website and
            submit with us your Jokes and account will never get approved.</li>
    </ul>
    <h5 class="mt-3">All reasons for Jokes <em>REJECTION</em></h5>
    <ul class="list-group list-group-flush ml-4">
        <li><em><b>Too short</b></em> - If you are going to write Jokes like "I Love You" it will get rejected as it is too
            short to be considered as Jokes.</li>
        <li><em><b>Already Published</b></em> - You might publish same Jokes twice by mistake or delibrately, in both cases
            your all duplicate Jokes will be rejected. </li>
        <li><em><b>Not Original</b></em> - If you have copied any Jokes or lines from any other website and submitted with
            us, we are not going to approve that Jokes. So make sure you write and submit original Jokes with us which are
            created by you only.</li>
        <li><em><b>Grammar Issue</b></em> - Some people are not good in English and some are not good in Hindi as well. So
            if after reading your Jokes we feel like there is grammer issue than we will reject same Jokes.</li>
        <li><em><b> Abusive Words</b></em> - We do not accept abusive words with in Jokes. Neither do we accept Jokes which
            hurt any religious feelings. So make sure you do not use such language or words in your Jokes.</li>
        <li><em><b> Crap Jokes</b></em> - Some time people will add a Jokes which is just crap. With Crap we mean is that
            what you have submitted is not a Jokes, so make sure you only submit a Jokes with us and nothing else. </li>
        <li><em><b>Irrelevant Category</b></em> - Some time by mistake or unknowling you might select a catehgory which is
            not relevent with the Jokes you have submitted with us. In that case again your Jokes will be rejected. </li>
        <li><em><b>Incomplete</b></em> - Some time when you are in flow you can miss few words with in Jokes because of which
            the meaning of Jokes can sound different. So when we read each Jokes and find such Jokes we will reject it and
            mark it as "Incomplete".
        </li>
        <li><em><b>Spelling Mistake</b></em> - Now this is very common mistake and we have found this in English as well
            as Hinglish Jokes.
        </li>
        <li><em><b>Too Long</b></em> - We do not accept Jokes which too long. </li>
        <li><em><b>No Meaning</b></em> - Some time we are not able to understand what you are trying to say in your Jokes
            or it does not make any sense, in that casewe will reject your Jokes and mark it as "No Meaning" </li>
        <li><em><b>Not Good Enough</b></em> - Some time the Jokes you have submited is not good enough to be concedered as
            Jokes in that case your Jokes will be rejected and marked as "Not Good Enough". </li>
        <li><em><b>Check Again</b></em> - As we read every Jokes manually and at times we find that something is not correct
            in Jokes, or in other words you can say when we read it we find santance not making sense. In that case your
            Jokes will be rejected and marked as "Check Again" </li>
        <li><em><b>No Chat Language</b></em> - We do not accept chat language / short forms in English & Hindi Jokes. But
            you can use short forms in Hinglish Jokes. Short form few examples "U in place of you" - "r in place of are"
            - "D in place of The" - "Ur in place of Your" are not acceptable in English Jokes.</li>
    </ul>
    <h5 class="mt-3">Also we double check every Jokes before approving it.</h5>
    <ul class="list-group list-group-flush ml-4">
        <li><em><b>Proof Reading</b></em> - We read every Jokes manually.</li>
        <li><em><b>Already Published</b></em> - We google every Jokes to see if Jokes submited by you is original or copied
            from any other website. Even if you have copied a line from any other website and just added few words here and
            there we will still find it and mark it as "Not Original". </li>
    </ul>
</section>