<div class="liquidHgt loginBG">
  <form class="form-signin">
    <fieldset ng-disabled="vm.isLoading" ng-if="!vm.showMsg">
      <div class="text-center">
        <img src="app/images/logo.png" />
      </div>
      <label for="inputEmail" class="sr-only">Name</label>
      <input type="text" id="inputName" ng-model="signup.name" class="form-control loginInput" placeholder="Name" required autofocus>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" ng-model="signup.email" class="form-control loginInput" placeholder="Email address" required
        autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" ng-model="signup.password" id="inputPassword" class="form-control loginInput" placeholder="Password"
        required>
      <div class="checkbox">
        <a href="#!/login">Login</a>
      </div>
      <button class="btn btn-lg btn-primary btn-block loginButton" ng-click="vm.doSignup(signup)" type="submit">
        <i ng-show="vm.isLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Signup</button>
    </fieldset>
    <div class="alert alert-success" role="alert" ng-if="vm.showMsg">
      Hey
      <b>{{vm.name}}</b>,
      <br />
      <br /> Please check your email
      <b>
        <em>'{{vm.email}}'</em>
      </b> for complete your registration with us.
      <br />
      <br/>Thanks,
      <br />TheJokeHub Team
    </div>
  </form>
</div>