<h3 class="pageTitle">
    <span class="fontWght400">Manage</span>
    <strong>Product</strong>
</h3>
<section class="mainContentWrapper">
    <h6 class="fontWght600">It’s too easy to upload your own product to the
        <a href="#" target="_blank">www.jokehub.com.</a> In just two simple steps you can upload it. It’s like playing with the toys, Lorem ipsum dolor
        sit amet</h6>
    <p class="lightGrey basicContent fontWght400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare nunc at magna porta rutrum. Fusce quis diam
        pellentesque enim placerat interdum. Sed cursus mauris orci, quis commodo
    </p>
    <table st-table="vm.products" class="table table-striped">
        <thead>
            <tr>
                <th>ProductName</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Product Description</th>
                <th>Is Active</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.products">
                <td>{{row.ProductName}}</td>
                <td>{{row.TotalQuantity}}</td>
                <td>{{row.Price}}</td>
                <td>{{row.ProductDescription}}</td>
                <td>
                    <span class="badge badge-pill badge-{{row.IsActive ? 'success' : 'warning' }}">{{row.IsActive ? 'Active' : 'Deactive' }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</section>