<div>
        <h3 class="pageTitle"><strong>DashBoard</strong></h3>
    <div class="mainContentWrapper">
        <div class="row">
                <div class="col-sm-4">
                        <canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                            chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                        </canvas>
                    </div>
                    <div class="col-sm-4">
                        <canvas id="bar" class="chart chart-bar" chart-data="vm.dataOne" chart-labels="vm.labelsOne" chart-series="vm.seriesOne">
                        </canvas>
                    </div>
                    <div class="col-sm-4">
                            <canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                                chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                            </canvas>
                        </div>
        </div>
        
        <div class="row">
                
                    <div class="col-sm-4">
                        <canvas id="bar" class="chart chart-bar" chart-data="vm.dataOne" chart-labels="vm.labelsOne" chart-series="vm.seriesOne">
                        </canvas>
                    </div>
                    <div class="col-sm-4">
                            <canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                                chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                            </canvas>
                        </div>
                    <div class="col-sm-4">
                            <canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                                chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                            </canvas>
                        </div>
        </div>
    </div>

</div>